.header{
    background-color:black;
    width: 100%;
}
.nbar{
    background-color: black;
}
.home-bg{
    background-color: background: rgb(126,126,118);
    background: linear-gradient(90deg, rgba(126,126,118,1) 0%, rgba(54,53,53,1) 42%, rgba(0,0,0,1) 100%);
}
.bgimg{
   
    
    margin-top: 2em;
    border-width: 2em; 
    margin-bottom: 2em;

}
.edu-bg{
   
    background-color: background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(91,86,86,1) 62%, rgba(135,132,132,1) 100%);;
    background-position: left;
    background-size: 100em;
    padding-bottom: 5em;
}
.edu-heading{
    font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; 
    margin-top: 2em;
    padding-bottom: -5em;
 }
.act{
    margin-top: 3em;
    font-family: 'Open Sans Condensed', sans-serif; font-size: 48px;
}
.skills-bg{
    background-color: background: rgb(126,126,118);
    background: linear-gradient(90deg, rgba(126,126,118,1) 0%, rgba(54,53,53,1) 42%, rgba(0,0,0,1) 100%);
    padding-bottom: 5em;
}
.c-form{
    background-color: black;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    width: 13em;
    height: 13em;
  }
